body {height:100%;
   width:100%;
   background-image:url(https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/13606841_10104136398261779_1195555101585217235_n.jpg?oh=1d57c2b9db258ca5f351a73c449797bc&oe=57F8214C);
   background-repeat:no-repeat; 
   background-size:cover;
}